[Unit]
Description=Gunicorn server for 101.132.177.114

[Service]
Restart=on-failure
User=zyq
WorkingDirectory=/home/zyq/sites/101.132.177.114/source
ExecStart=/home/zyq/sites/101.132.177.114/virtualenv/bin/gunicorn \
--bind unix:/tmp/101.132.177.114.socket superlists.wsgi:application

[Install]
WantedBy=multi-user.target